<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Younis's CV</title>
</head>
<body>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Abdallah Younis</h1>
  <hr />
  <br>
    <p class="head">Personal Information</p>
  <ul>
    <li>Full Name: Abdallah Mohamed Mohamed Younis</li>
    <li>Birthdate: 23/8/1998 </li>
    <li>E-mail: abdallah.younis0001@gmail.com</li>
    <li>Address: Giza, Agouza, El-Mohandseen</li>
  </ul>
  <p class="head">Interests</p>
  <ul>
    <li>Drawing</li>
    <li>Photography</li>
    <li>Design</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
      <li>Computer proficiency.</li>
<li>Leadership experience.</li>
<li>Communication skills.</li>
<li>Organizational know-how.</li>
<li>People skills.</li>
<li>Collaboration talent.</li>
  </ul>
  <p class="head">Education</p>
  <ul>
      <li>El-Manar Language School</li>
    <li>Faculty of Computer Science at MSA University</li>
  </ul>

</div>
<div class="right"></div>
<div id="footer">


</body>
</html>